@model HireTrainerViewModel

@{
    ViewData["Title"] = "Hire Trainer";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Hire" method="post">
    <input type="hidden" name="TrainerId" value="@Model.TrainerId" />

    <div class="mb-3">
        <label asp-for="@Model.Name" class="form-label-add-edit">Name</label>
        <input asp-for="@Model.Name" class="form-control" aria-required="true" placeholder="Your Name" />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Age" class="form-label-add-edit">Age</label>
        <input asp-for="@Model.Age" class="form-control" placeholder="Your Age" />
        <span asp-validation-for="@Model.Age" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.ImageUrl" class="form-label-add-edit">Image URL</label>
        <input asp-for="@Model.ImageUrl" class="form-control" placeholder="Image URL" />
        <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Gender">Gender:</label>
        <select asp-for="@Model.Gender" class="form-control">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <span asp-validation-for="@Model.Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Membership">Membership:</label>
        <select asp-for="@Model.Membership" class="form-control">
            <option value="Monthly">Monthly</option>
            <option value="ThreeMonths">ThreeMonths</option>
            <option value="HalfYear">HalfYear</option>
            <option value="Yearly">Yearly</option>
        </select>
        <span asp-validation-for="@Model.Membership" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Hire" />
    </div>
</form>