@model IEnumerable<AllTrainingProgramsViewModel>
@{
    ViewBag.Title = "All Training Programs";
}

<div class="container mt-5">
    <div class="row">
        @foreach (var program in Model)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100 border-0 rounded-3 shadow">
                    <img class="card-img-top rounded-top" src="@program.ImageUrl" alt="Training Program Image">
                    <div class="card-body">
                        <h5 class="card-title text-primary fw-bold">@program.Name</h5>
                        <p class="card-text">@program.Description</p>
                        <p class="card-text">Duration: @program.Duration mins</p>
                    </div>
                    <div class="card-footer">

                        <a href="@Url.Action("Details", "TrainingProgram", new { id = program.Id })" class="btn btn-lg btn-primary rounded-pill">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<link rel="stylesheet" href="~/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/allTrainingPrograms.css">