@using Pumping_Iron.Infrastructure.Extensions;
@using Pumping_Iron.Data.Data;
@inject PumpingIronDbContext dbContext;

@model IEnumerable<AllTrainersViewModel>
@{
    ViewBag.Title = "All Trainers";
}

@{

    var userId = User.GetId();
    var client = dbContext.Clients.FirstOrDefault(u => u.ClientId.ToString() == userId);
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container">
    <div class="row justify-content-center">
        @foreach (var trainer in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="@trainer.ImageUrl" alt="Trainer Image" style="width: 100%; height: 300px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">@trainer.Name</h5>
                        <p class="card-text">Age: @trainer.Age</p>
                        <p class="card-text">Gender: @trainer.Gender</p>
                        <div class="d-flex justify-content-between align-items-center">
                            @if (client == null)
                            {
                                <form asp-action="Hire" asp-controller="Client" method="get">
                                    <input type="hidden" name="trainerId" value="@trainer.Id" />
                                    <button type="submit" class="btn btn-lg btn-success rounded-pill">Hire</button>
                                </form>
                            }                 
                            <a href="@Url.Action("Details", "Trainer", new { id = trainer.Id })" class="btn btn-lg btn-primary rounded-pill">See More</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!-- Reference the CSS file -->
<link rel="stylesheet" href="~/css/all-trainers.css">